In [3]:
data_rekap = [
    {
        "tahun": 1995,
        "penjualan": 300,
        "operasional": 150,
        "pajak": 50,
        "pendapatan_lain": 135
    },
    {
        "tahun": 1997,
        "penjualan": 320,
        "operasional": 120,
        "pajak": 70,
        "pendapatan_lain": 105
    },
    {
        "tahun": 1991,
        "penjualan": 200,
        "operasional": 75,
        "pajak": 35,
        "pendapatan_lain": 85
        },
    {
        "tahun": 1992,
        "penjualan": 320,
        "operasional": 170,
        "pajak": 80,
        "pendapatan_lain": 235
    },
    {
        "tahun": 2001,
        "penjualan": 300,
        "operasional": 150,
        "pajak": 50,
        "pendapatan_lain": 135
    },
    {
        "tahun": 2003,
        "penjualan": 500,
        "operasional": 350,
        "pajak": 100,
        "pendapatan_lain": 55
    },
    {
        "tahun": 2005,
        "penjualan": 750,
        "operasional": 450,
        "pajak": 200,
        "pendapatan_lain": 155
    }
]

In [4]:
# expected data
data_graph = {
    "tahun": [...], # x
    "penjualan": [...] # y
}

In [5]:
# mapping
# data_map = { <tahun>: <penjualan>}

In [6]:
data_map = { data["tahun"]: data["penjualan"] for data in data_rekap}
data_map

{1995: 300, 1997: 320, 1991: 200, 1992: 320, 2001: 300, 2003: 500, 2005: 750}

In [7]:
# Sorting data tahun
tahun = list(data_map.keys())
tahun.sort()
tahun

[1991, 1992, 1995, 1997, 2001, 2003, 2005]

In [8]:
# get data penjualan
penjualan = [data_map[_tahun]for _tahun in tahun]
penjualan

[200, 320, 300, 320, 300, 500, 750]

In [9]:
data_graph = {
    "tahun": tahun,
    "penjualan": penjualan,
    "pajak": [20, 30, 30, 20, 30, 50, 75]
}
data_graph

{'tahun': [1991, 1992, 1995, 1997, 2001, 2003, 2005],
 'penjualan': [200, 320, 300, 320, 300, 500, 750],
 'pajak': [20, 30, 30, 20, 30, 50, 75]}

In [10]:
plt.plot(data_graph["tahun"], data_graph["penjualan"],"o-", label="penjualan")
plt.plot(data_graph["tahun"], data_graph["pajak"],"o-", label="pajak")

plt.title("Data rekapitulasi Tahunan")
plt.legend(loc="upper left")
plt.xlabel("Tahun")
plt.ylabel("Dalam jutaan Rp.")
plt.show()

NameError: name 'plt' is not defined

In [11]:
# Latihan
# expected data
data_graph = {
    "tahun": [...], # x
    "penjualan": [...], # y, 
    "pajak":[...],
    "operasional": [...],
    "pendapatan_lain": [...],
    "laba": [...]
}

# laba = penjualan + pendapatan_lain - pajak - operasional